* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --vh: 100%;

  --main-green: #009B7D;
  --main-green-custom: 0, 155, 125;
  --main-yellow: #FFBF5D;
  --main-yellow-custom: 255, 191, 93;
  --main-gray: #ECECEA;
  --main-gray-custom: 236, 236, 234;
}

